﻿@{
    ViewData["Title"] = "Contact";
}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact me</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Chewy|Delius|Handlee|Love+Ya+Like+A+Sister|Parisienne|Risque" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true">
        <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="caja">
        <form action="" class="formulario" >
            <h1 class="formulario__titulo">Contact me</h1>
            <input type="text" class="formulario__input" title="Please provide your name" required>
            <label for=""
            class="formulario__label">Name</label>
            <input type="mail" class="formulario__input" title="Please enter a valid email" required>
            <label for=""
            class="formulario__label">Mail</label>
            <input type="text" class="formulario__input">
            <label for=""
            class="formulario__label">Phone number</label>
            <input type="text" class="formulario__input">
            <label for=""
            class="formulario__label">Message</label>
            <input type="submit"
            class="formulario__submit" value="Send">
        </form>
        <ul>
            <li><a href="https://www.facebook.com/lalallalallalall"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
        <!-- <script type="text/javascript" src="form.js">
        </script> -->
        </div>
    </body>


</html>