﻿<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <binding protocol="http" bindingInformation="*:5000:myhostname" />
   <link rel="stylesheet" href="style.css">
  
  <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Chewy|Delius|Handlee|Love+Ya+Like+A+Sister|Parisienne|Risque" rel="stylesheet">
   <head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" >
    <link rel="stylesheet" asp-appen-version="true" media="only screen and (max-device-width: 1024px)" href="~/css/mobile.css" />
    <link rel="stylesheet" asp-appen-version="true" media="only screen and (max-device-width: 767px)" href="~/css/estilo.css" />
    

    </head>
    
 
  <body>
    <!-- div general que engloba toda la informacion que aparece en el recuadro de enmedio -->
    <div class="caja">
      <div class="top">
        <div id="rectangle"></div>
        <!-- imagen general que aparece en el diseño de desktop -->
      <img src="/images/WhatsApp Image 2018-02-02 at 10.17.19 PM.jpeg" alt="" class="caja-img">
      <h1>MARIA FERNANDA LOPEZ</h1>
      <h5>Computer Science Engineer</h5>
      <p>
        A girl who loves cats. Responsable, perseverant, friendly.
      </p>
      </div>
      <!-- informacion personal que aparece al inicio de la pagina -->
      <div class="information">
        <!-- utilice una lista para que fuera sencillo de organizar -->
        <ul>
          <li>Proffesion: computer science engineer</li>
          <li>Guatemala, Guatemala</li>
          <li>Email: lop17160@uvg.edu.gt</li>
          <li id="phone">Phone number: 1234-5678</li>
        </ul>
      </div>
      <!-- div que contiene progress bars para medir el porcentaje de conocimiento -->
      <div id="skills" class="information">
        <h2>SKILLS</h2>
        <!-- utilice un lista para enlistar los titulos de cada skill seguido de ellas una progress bar-->
        <ul class="x">          
          <li class="skill">C++</li>
          <progress value="70" max="100">70 %</progress>
          <li class="skill">Java</li>
          <progress value="80" max="100">80 %</progress>
          <li class="skill">Visual Basic</li>
          <progress value="85" max="100">85 %</progress>
          <li class="skill">Python</li>
          <progress value="70" max="100">70 %</progress>
          <li class="skill">Mongo</li>
          <progress value="60" max="100">60 %</progress>
          <li class="skill">HTML</li>
          <progress value="30" max="100">30 %</progress>
        </ul>
        <!-- skills for mobile -->
        <!-- no utlice progress ya que en el css cambie el tamaño y color de relleno de cada div para que se viera como un contenedor lleno de porcentaje -->
        <!-- dividido en un section para poder identificarlo mejor en el css -->
        <section class="skillsm">
          <h3>C++</h3>
          <div class="c-bar"></div>
          <h3>Java</h3>
          <div class="java-bar"></div>
          <h3>Visual Basic</h3>
          <div class="visual-bar"></div>
          <h3>Python</h3>
          <div class="python-bar"></div>
          <h3>Mongo</h3>
          <div class="mongo-bar"></div>
          <h3>HTML</h3>
          <div class="html-bar"></div>
        </section>
        
      </div>
      <!-- div que contiene una lista para describir la experiencia laboral -->
      <div id="work" class="information">
        <h2>WORK EXPERIENCE</h2>
        <ul>
          <li class="work">Customer service agent/ 24/7Intouch-ICS</li>
          <p>Develop the agent of customer service position as a vacationer for Walmart.com account</p>
          <hr>
          <li class="work">Sales/Cat Store</li>
          <p>Sales assistant at the Cat store in Miraflores</p>
          <hr>
          <li class="work">Assistant of the Systems Engineering Department/Banca privada GyT</li>
          <p>240 hours of practice performing tasks related to computation and technology</p>
          <hr>
        </ul>
      </div>
      <!-- div que contiene la informacion de educacion -->
      <div id="education" class="information">
        <h2>EDUCATION</h2>
        <!-- la lista es solo para nombrar el nombre del establecimiento demás informacion esta contenida en un paragraph -->
        <ul>
          <li class="edu">Bilingue El Prado</li>
          <p>Primary and high school (2006-2014)</p>
          <p>Bachiller en Computación con Orientación Cientifica (2015-2016)</p>
          <hr>
          <li class="edu">Universidad del Valle de Guatemala</li>
          <p>Licenciatura en Ingenieria en Ciencias de la Computacion y Tecnologias de la Informacion</p>
          <hr>
          <li class="edu">CIAV</li>
          <p>Advanced English course</p>
          <hr>
        </ul>
      </div>
      <!-- div que contiene toda la informacion de achievements -->
      <div id="achievements" class="information" >
        <h2>ACHIEVEMENTS</h2>
        <ul>
          <li class="achiev">Member of the Student Association of the Computer Science and IT career</li>
          <hr>
          <li class="achiev">President of the Student Council 2016-2017</li>
          <hr>
          <li class="achiev">Classroom president, years 2007,2015 and 2016</li>
          <hr>
          <li class="achiev">3rd place in academic excellence of the 5th baccalaureate promotion</li>
          <hr>
          <li class="achiev">3rd place in academic excellence of the 4th baccalaureate promotion</li>
          <hr>
          <li class="achiev">1st place in academic excellence of the promotion of 6th grade of primary</li>
          <hr>
          <li class="achiev">1st place in academic excellence of the promotion of 5th grade of primary</li>
          <hr>
          <li class="achiev">1st place in academic excellence of the promotion of 4th grade of primary</li>
          <hr>
          <li class="achiev">1st place in academic excellence of the promotion of 3rd grade of primary</li>
          <hr>
        </ul>
      </div>
      <!-- seccion que contiene los divs que se ocultaran al detectar si es tablet, telefono o desktop -->
      <div id="oculto" class="hidden-sm hidden-xs">
          <h5>
              Esto es una Desktop
          </h5>
      </div>
      <div id="oculto" class="hidden-md hidden-xs hidden-lg">
          <h5>
              Esto es una tablet
          </h5>
      </div>
      <div id="oculto" class="hidden-md hidden-sm hidden-lg">
          <h5>
              Esto es un teléfono
          </h5>
      </div>
    </div>
    <div clas="footer">
      <div id="rectangle1"></div>
      <p>Coded by Mafer</p>
    </div>

  </body>
</html>
