.skillsm{
    float: center;
    background: rgba(253, 251, 251, 0.116);
    padding: 30px;
    border-radius: 5px;
    list-style:disc;
  }
  .skillsm div{
    width: 100%;
    background: #607D8B;
    height: 24px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  .c-bar::before{
    content: '';
    position:absolute;
    width: 80%;
    height: 24px;
    left: 0;
    background: rgb(241, 160, 171);
  }
  .java-bar::before{
    content: '';
    position:absolute;
    width: 90%;
    height: 24px;
    left: 0;
    background: rgb(241, 192, 160);
  }
  .visual-bar::before{
    content: '';
    position:absolute;
    width: 90%;
    height: 24px;
    left: 0;
    background: rgb(160, 222, 241);
  }
  .python-bar::before{
    content: '';
    position:absolute;
    width: 70%;
    height: 24px;
    left: 0;
    background: rgb(241, 160, 217);
  }
  .mongo-bar::before{
    content: '';
    position:absolute;
    width: 50%;
    height: 24px;
    left: 0;
    background: rgba(179, 241, 160, 0.863);
  }
  .html-bar::before{
    content: '';
    position:absolute;
    width: 25%;
    height: 24px;
    left: 0;
    background: rgb(160, 168, 241);
  }
  .caja-img2{
    border-radius: 50%;
  }
  .information ul{
    float: center;
    background: rgba(253, 251, 251, 0.116);
    padding: 30px;
    border-radius: 5px;
    list-style:disc;
    border: 2px solid white;
    position: relative;
}
.information ul:before{
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(253, 251, 251, 0);
    position: absolute;
    top: -21px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-left: 2px solid white;
    border-top: 2px solid white;

}
.caja{
    background: rgba(0, 0, 0, 0.055);
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
 
  body{
    margin: 0;
    padding: 0;
    background: rgba(185,218,224);
    background-size: cover;
  }
  .caja-img{
    border-radius: 50%;
  }
  
  .caja h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .caja h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .caja p{
    text-align: justify;
  }
  .information ul{
      float: center;
      background: rgba(253, 251, 251, 0.116);
      padding: 30px;
      border-radius: 5px;
      list-style:disc;
  }
 
  .information ul li{
    color: black;
    margin-bottom: 5px;

  }
  h1{
    margin-top: 5%;
    font-family: 'Love Ya Like A Sister', cursive;
  }
  *{
    font-family: 'Handlee', cursive;
    color: black;
  }
  h2{
    font-family: 'Bubblegum Sans', cursive;
  }
  .skill{
    list-style: none;
    font-size: 50;
  }
  progress{
    width: 60%;
    height: 25%;
  }
  .work{
    list-style: none;
  }
  .achiev{
    list-style: none;
  }
  .edu{
    list-style: none;
    font-size: 40;
  }
  @media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    .caja-img{
      display: none;
    }
    .skill{
      display:none;
    }
    .skillsm div{
      display: all;
    }
    .x{
      display: none;
    }
    
    
}


        

@media only screen and (min-width: 768px){
    .caja{
        width: 650px;
    }
    .caja-img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .skillsm{
      display:none;
    }
    .skillsm div{
      display: all;
    }
    .skillsm{
      display:all;
    }
    .c-bar::before{
      display:none;
    }
    h3{
      display:none;
    }
    .caja-img2{
      display: none;
    }
    .information ul{
        width:auto;
    }
    progress{
        width: 60%;
        height: 25%;
    }
    


}