﻿.caja{
    background: rgba(0, 0, 0, 0.055);
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
 
  body{
    margin: 0;
    padding: 0;
    background: rgba(185,218,224);
    background-size: cover;
  }
  .caja-img{
    border-radius: 50%;
  }
  
  .caja h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .caja h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .caja p{
    text-align: justify;
  }
  .information ul{
      float: center;
      background: rgba(253, 251, 251, 0.116);
      padding: 30px;
      border-radius: 5px;
      list-style:disc;
  }
 
  .information ul li{
    color: black;
    margin-bottom: 5px;

  }
  h1{
    margin-top: 5%;
    font-family: 'Love Ya Like A Sister', cursive;
  }
  *{
    font-family: 'Handlee', cursive;
    color: black;
  }
  h2{
    font-family: 'Bubblegum Sans', cursive;
  }
  .skill{
    list-style: none;
    font-size: 50;
  }
  progress{
    width: 60%;
    height: 25%;
  }
  .work{
    list-style: none;
  }
  .achiev{
    list-style: none;
  }
  .edu{
    list-style: none;
    font-size: 40;
  }
 


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    .caja-img{
      display: none;
    }
    .skill{
      display:none;
    }
    .skillsm div{
      display: all;
    }
    .skillsm{
      display:all;
    }
    .x{
      display: none;
    }
    #oculto{
      display: none;
    }
    .img{
      display:all;
      width: auto;
      height: auto;
      border-radius: 5%;
    }
    
}
@media only screen and (max-width: 1024px){
  .skill{
    display:none;
  }
  .skillsm div{
    display: all;
  }
  .x{
    display: none;
  }
}


        

@media only screen and (min-width: 768px){
    .caja{
        width: 650px;
        padding: 50px;
      text-align: center;
      margin: auto;
      margin-top: 5%;
    }
    .caja-img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .img{
      display:none;
    }
    .skillsm{
      display:none;
    }
    .skillsm div{
      display: none;
    }
    .c-bar::before{
      display:none;
    }
    h3{
      display:none;
    }
    .caja-img2{
      display: none;
    }
    .information ul{
        width:auto;
    }
    progress{
        width: 60%;
        height: 25%;
    }
    #oculto{
      display:none;
    }



}
